<nav>
  <!-- Main Logo -->
  <a href="index.html" class="nav-logo">
    <img src="images/dqretro/logos/dqretro_logo_purpleyblue.png" alt="DQRetro Logo" height="50">
  </a>

  <!-- Tournament Logo -->
  <a href="pages/tournaments/tournaments.html" class="nav-logo">
    <img src="images/dqretro/logos/tournament_logo.png" alt="Tournament Logo" height="50">
  </a>

  <!-- Navigation Links -->
  <a href="pages/showcase/global-leaderboard.html">Global Leaderboard</a>
  <a href="pages/showcase/global-statistics.html">Character Statistics</a>
  <a href="pages/player-profiles/players-search/players-search.html">Player Profiles</a>
  <a href="pages/gallery/gallery-media.html">Media Gallery</a>
</nav>

