<nav>
  <!-- Logo -->
  <a href="/tekkenball-brackets/index.html" class="nav-logo">
    <img src="/tekkenball-brackets/images/dqretro/logos/dqretro_logo_purpleyblue.png" alt="DQRetro Logo" height="50">
  </a>
  
  <a href="/tekkenball-brackets/pages/tournaments.html" class="nav-logo">
    <img src="/tekkenball-brackets/images/dqretro/logos/tournament_logo.png" alt="Tournament Logo" height="50">
  </a>

  <!-- Links -->
  <a href="/tekkenball-brackets/pages/overview.html" class="active">Overview</a>
  <a href="/tekkenball-brackets/pages/brackets.html">Brackets</a>
  <a href="/tekkenball-brackets/pages/standings.html">Standings</a>
  <a href="/tekkenball-brackets/pages/stats.html">Stats</a>
</nav>
