<nav>
  <!-- Main Logo -->
  <a href="/index.html" class="nav-logo">
    <img src="/images/dqretro/logos/dqretro_logo_purpleyblue.png" alt="DQRetro Logo" height="50">
  </a>

  <!-- Tournament Logo -->
  <a href="/pages/tournaments/tournaments.html" class="nav-logo">
    <img src="/images/dqretro/logos/tournament_logo.png" alt="Tournament Logo" height="50">
  </a>
  
  <a href="/pages/showcase/standings.html">Global Standings</a>
  <a href="/pages/showcase/players.html">Player Profiles</a>
  <a href="/pages/gallery/gallery.html">Video Gallery</a>
</nav>
