<nav>
  <!-- Logos -->
  <a href="/index.html" class="nav-logo" id="homeLogo">
    <img src="/images/dqretro/logos/dqretro_logo_purpleyblue.png" alt="DQRetro Logo" height="50">
  </a>
  <a href="/pages/tournaments/tournaments.html" class="nav-logo" id="tournamentLogo">
    <img src="/images/dqretro/logos/tournament_logo.png" alt="Tournament Logo" height="50">
  </a>

  <!-- Navigation Links -->
  <a data-slug-link="overview" href="#">Overview</a>
  <a data-slug-link="brackets" href="#">Brackets</a>
  <a data-slug-link="standings" href="#">Standings</a>
  <a data-slug-link="matches" href="#">Matches</a>
  <a data-slug-link="stats" href="#">Stats</a>
</nav>

<script src="../../shared/layout/header/nav/nav_t.js" defer></script>
