<nav>
  <!-- Logos -->
  <a href="/index.html" class="nav-logo" id="homeLogo">
    <img src="/images/dqretro/logos/dqretro_logo_purpleyblue.png" alt="DQRetro Logo" height="50">
  </a>
  <a href="/pages/tournaments/tournaments.html" class="nav-logo" id="tournamentLogo">
    <img src="/images/dqretro/logos/tournament_logo.png" alt="Tournament Logo" height="50">
  </a>

  <!-- Navigation Links -->
  <a data-slug-link="overview" href="/pages/tournaments/overview.html">Overview</a>
  <a data-slug-link="brackets" href="/pages/tournaments/brackets.html">Brackets</a>
  <a data-slug-link="standings" href="/pages/tournaments/standings.html">Standings</a>
  <a data-slug-link="matches" href="/pages/tournaments/matches.html">Matches</a>
  <a data-slug-link="stats" href="/pages/tournaments/stats.html">Stats</a>
  <a href="/pages/player-profiles/players-search/players-search.html">Players-Profiles</a>
  
</nav>

<script src="/tekkenball-brackets/shared/layout/header/nav/nav_t.js" defer></script>

