<nav>
  <!-- Logo -->
  <a href="../index.html" class="nav-logo">
    <img src="../images/dqretro/logos/dqretro_logo_purpleyblue.png" alt="DQRetro Logo" height="50">
  </a>
  
  <a href="../pages/tournaments.html" class="nav-logo">
    <img src="../images/dqretro/logos/tournament_logo.png" alt="DQRetro Logo" height="50">
  </a>

  <!-- Links -->
  <a href="../../pages/tournaments/overview.html" class="active">Overview</a>
  <a href="../../pages/tournaments/brackets.html">Brackets</a>
  <a href="../../pages/tournaments/standings.html">Standings</a>
  <a href="../../pages/tournaments/matches.html">Matches</a>
  <a href="../../pages/tournaments/stats.html">Stats</a>
</nav>
