<footer>
  <a href="/index.html" class="footer-logo">
    <img src="/images/dqretro/logos/DQ Retro Logo Purpley blue.png" alt="DQRetro Logo" height="50">
  </a>

  <div class="social-icons">
    <a href="https://twitter.com/dqretro" target="_blank" aria-label="Twitter">
      <img src="/images/socials/icons/twitter-icon.png" alt="Twitter" height="24">
    </a>
    <a href="https://instagram.com/dqretro" target="_blank" aria-label="Instagram">
      <img src="/images/socials/icons/instagram-icon.png" alt="Instagram" height="24">
    </a>
    <a href="https://discord.com/invite/sVahdEEZrS" target="_blank" aria-label="Discord">
      <img src="/images/socials/icons/discord-icon.png" alt="Discord" height="24">
    </a>
    <a href="https://www.youtube.com/@DQRetro/videos" target="_blank" aria-label="YouTube">
      <img src="/images/socials/icons/youtube-icon.png" alt="YouTube" height="24">
    </a>
  </div>
</footer>
