<footer>
  <!-- Logo Section -->
  <a href="../index.html" class="footer-logo">
    <img src="../images/dqretro/logos/DQ Retro Logo Purpley blue.png" alt="DQRetro Logo" height="50">
  </a>

  <!-- Copyright -->
  <p>DQRetro &copy; 2025</p>

  <!-- Social Icons -->
  <div class="social-icons">
    <a href="https://twitter.com/" target="_blank" aria-label="Twitter">
      <img src="../images/icons/twitter.png" alt="Twitter" height="24">
    </a>
    <a href="https://instagram.com/" target="_blank" aria-label="Instagram">
      <img src="../images/icons/instagram.png" alt="Instagram" height="24">
    </a>
    <a href="https://discord.com/" target="_blank" aria-label="Discord">
      <img src="../images/icons/discord.png" alt="Discord" height="24">
    </a>
    <a href="https://youtube.com/@dqretro" target="_blank" aria-label="YouTube">
      <img src="../images/socials/icons/youtube-icon.png" alt="YouTube" height="24">
    </a>
  </div>
</footer>
