<nav>
  <!-- Logo -->
  <a href="../index.html" class="nav-logo">
    <img src="../images/dqretro/logos/DQ Retro Logo Purpley blue.png" alt="DQRetro Logo" height="50">
  </a>
  
  <a href="../pages/tournaments.html" class="nav-logo">
    <img src="../images/dqretro/logos/tournament_logo.png" alt="DQRetro Logo" height="50">
  </a>

  <!-- Links -->
  <a href="../../pages/overview.html" class="active">Overview</a>
  <a href="../../pages/brackets.html">Brackets</a>
  <a href="../../pages/standings.html">Standings</a>
  <a href="../../pages/stats.html">Stats</a>
</nav>
